<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="true" 
        id="maryland" version="3.0">
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

	 <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:camel.xml</param-value>
    </context-param>
    
    <context-param>
        <param-name>
            javax.servlet.jsp.jstl.fmt.localizationContext
        </param-name>
        <param-value>StripesResources</param-value>
    </context-param>
         
    <filter>
        <filter-name>StripesFilter</filter-name>
        <filter-class>net.sourceforge.stripes.controller.StripesFilter</filter-class>
        <init-param>
            <param-name>ActionResolver.Packages</param-name>
            <param-value>com.challenge.action</param-value>
        </init-param>
        <init-param>
            <param-name>Extension.Packages</param-name>
            <param-value>com.challenge.converter,com.challenge.action.extensions, com.challenge.action.reload.extensions, net.sourceforge.stripes.integration.spring
            </param-value>
        </init-param>
		
        <init-param>
            <param-name>ActionBeanContext.Class</param-name>
            <param-value>
                com.challenge.action.ChallengeActionBeanContext
            </param-value>
        </init-param>
                    
   		<init-param>
            <param-name>TypeConverterFactory.Class</param-name>
            <param-value>com.challenge.action.TypeConverterFactory</param-value>
        </init-param>
                   
		<init-param>
    		<param-name>MultipartWrapper.Class</param-name>
    		<param-value>net.sourceforge.stripes.controller.multipart.CommonsMultipartWrapper</param-value>
		</init-param>		
	</filter>
	
	
    <servlet>
        <servlet-name>DispatcherServlet</servlet-name>
        <servlet-class>net.sourceforge.stripes.controller.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
  
    <filter-mapping>
        <filter-name>StripesFilter</filter-name>
        <servlet-name>DispatcherServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>

    <servlet-mapping>
        <servlet-name>DispatcherServlet</servlet-name>
        <url-pattern>/challenge/*</url-pattern>
    </servlet-mapping>
	<session-config>
    	<session-timeout>-1</session-timeout>
  	</session-config>  	  	

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>

